#section-3 {
  background-color: #2f5075;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
}

.festivales-header {
  color: white;
}

.festivales-carousel {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.festivales-carousel__track-container {
  display: flex;
  overflow: hidden;
  width: 90%;
  height: 100%;
}

.festivales-carousel__track {
  display: flex;
  transition: transform 0.3s ease-in-out;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.festivales-carousel__card {
  min-width: calc(33% - 20px);
  height: 100%;
  margin: 0px 40px;
  margin-left: 0px;
  background-color: #f0f0f0;
  text-align: left;
  border-radius: 10px;
}

.festivales-carousel__card img {
  width: 100%;
}

.card-info {
  padding-top: 40px;
  padding-left: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.festivales-carousel__card .card-info h3 {
  font-size: 2rem;
  color: black;
  text-align: left;
}

.festivales-carousel__card .card-info .card-text {
  text-align: left;
}

.festivales-carousel__card .card-info button {
  color: #00b9da;
  background-color: white;
  padding: 10px;
  width: 131px;
  margin-top: 10px;
  border: 2px solid #00b9da;
  transition-duration: 0.2s;
}

.festivales-carousel__card .card-info button:hover {
  background-color: #00b9da;
  color: white;
}

.festivales-carousel__button {
  width: 100px;
  background-color: #00000000;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 20px;
  z-index: 1;
}

.festivales-carousel__button:hover {
  background-color: #00000000;
}

.festivales-carousel__indicators {
  display: flex;
  justify-content: center;
  margin: 4rem;
}

.festivales-carousel__indicator {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
}

.festivales-carousel__indicator--active {
  background-color: #00b9da;
}
