:root {
  --primary-color: #0080ff;
  --primary-color-op: #004d99;
}

@font-face {
  font-family: "opensans regular";
  src: url(../src/assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "opensans bold";
  src: url(../src/assets/fonts/OpenSans-ExtraBold.ttf);
}

* {
  scroll-behavior: smooth !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "opensans regular";
  background-color: #ffffff;
  overflow-x: hidden;
}

/* GENERAL CSS */

h1 {
  font-family: "opensans bold";
  font-size: 4.5rem;
  text-align: center;
}

h1,
h2,
h3,
p {
  color: black;
}

button {
  width: 350px;
  height: 100px;
  font-size: 1.5rem;
  background-color: var(--primary-color);
  border-radius: 20px;
  border: none;
  transition-duration: 0.2s;
}

button:hover {
  background-color: var(--primary-color-op);
  cursor: pointer;
}
